// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";

//my variables
$navbar-color: #f8f9fa;

.row{
    border: solid;
}

body{
  color: #212529;
  font-family: 'Roboto', sans-serif;
}
.content{
    margin-top: 20px;
}
.home{
    margin-bottom: 40px;
}
.container{
    display:'flex';
    justify-content:"left";
    width: 600px;
}

.navbar{
    padding: 20px;
    font-weight: 900;
    color: #212529;
}

.sure-box-container{
    z-index: 3;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.sure-box-card{
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 500px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.sure-box-context{
    padding: 20px;
}

.sure-box-info{
    font-size: 18px;
}

.sure-box-close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}

// loader
.loader {
    margin: 0 auto;
    display: inline;
    margin-top: 20px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #2c2c2c;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}