$info: #2780e3;
$navbar-light-color: white;
$navbar-light-hover-color: rgb(224, 224, 224);
$navbar-light-active-color: rgb(224, 224, 224);
$navbar-light-brand-hover-color: white; 
$navbar-light-brand-color: white;

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";


$web-font-path: "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

//my variables
$navbar-color: #2780e3;

body{
    color: #212529;
}

.content{
    margin-top: 20px;
}

.recipe-wrapper{
    margin-top: 50px;
}

.navbar{
    font-weight: 900;
    padding: 15px 15px;
}

.create-btn{
    color: white;
    background-color:#f1356d;
    border-radius: 8px;
}

.create-btn-wrapper{
    text-align: right;
    margin-top: 20px;
}

.btn-succes{
    background-color: green;
    color: white;
}
.btn:hover{
    color:white;
}


.sure-box-container{
    z-index: 3;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.sure-box-card{
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 500px;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.sure-box-context{
    padding: 20px;
}

.sure-box-info{
    font-size: 18px;
}

.sure-box-close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 32px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
}


@media only screen and (max-width: 600px) {
    .content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .sure-box-card{
        width: 400px;
    }
}

@media only screen and (max-width: 450px) {
    .sure-box-card{
        width: 250px;
    }
}


// loader
.loader {
    margin: 0 auto;
    display: inline;
    margin-top: 20px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid $navbar-color;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1s linear infinite;
}  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}